<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../information-card/information-card.html">
<link rel="import" href="../information-table/information-table.html">
<link rel="import" href="../success-element/success-element.html">
<link rel="import" href="../check-list/check-list.html">
<link rel="import" href="../tab-element/tab-element.html">

<dom-module id="content-element">
  <template>
    <style>
      :host {
        display: block;
        height:400px;
      }
      section{
        width:100%;
        height:100%;
      }
      nav{
        width:100%;
        height:10%;
      }
      main{
        width:100%;
        height:90%;
      }
      .content{
        background-color:#fff;
      }
    </style>
    <section>
      <nav class="tabs">
        <tab-element on-click-tab="manageVisual">
        </tab-element>
      </nav>
      <main class="content">

        <template is="dom-if" if="{{formvisible}}">
          <!-- <information-card>
          </information-card> -->

          <check-list>
          </check-list>
        </template>

        <template is="dom-if" if="{{table1visible}}">
          <information-table>
          </information-table>
        </template>

        <template is="dom-if" if="{{table2visible}}">
          <success-element>
          </success-element>
        </template>

      </main>
    </section>
  </template>

  <script>
    /**
     * `content-element`
     * Content Dad
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ContentElement extends Polymer.Element {
      static get is() { return 'content-element'; }
      static get properties() {
        return {
          formvisible: {
            type: Boolean,
            value: true
          },
          table1visible: {
            type: Boolean,
            value: false
          },
          table2visible: {
            type: Boolean,
            value: false
          }
        };
      }
      manageVisual(e){
        console.log("Entra Manage Visual")
        console.log(e.detail)
        switch (e.detail) {
          case "New":
            this.formvisible = true
            this.table1visible = false
            this.table2visible = false
            break;
          case "List1":
            this.formvisible = false
            this.table1visible = true
            this.table2visible = false
            break;
          case "List2":
            this.formvisible = false
            this.table1visible = false
            this.table2visible = true
            break;
        }
      }
    }

    window.customElements.define(ContentElement.is, ContentElement);
  </script>
</dom-module>
